html{
    background-color: rgb(255, 235, 238);
}
@keyframes galletas{
    from{color:white}
    to{color: black;}
}
header{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    width: 100%;
    font-size: 30px;
    color: rgb(0, 0, 0);
    background-color: rgb(215, 139, 152);
    animation-name: galletas;
    animation-duration: 5s;
}
img{
    height: 5%;
    width: 100%;
}
nav{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    height: 20px;
    text-align: center;
    align-items: center;
    margin: 5px;
}
.Enlace{
    color: black;
}
nav a:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.titulo{
    font-family:'Times New Roman', Times, serif;
    font-size: 35px;
    text-align: center;
    background-color: rgb(199, 141, 151);
}
#Ingredientes{
    padding-left: 15px;
    font-size: 14px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul{
    list-style: square inside url("rosa.jpg");
}
ol{
    list-style:decimal;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
table{
    border-style: solid;
    border-collapse: collapse;
    width: 500px;    
}
tr,th,td{
    border: 3px solid;
    padding: 20px;
    text-align: center;
}
.t_rosa{
    background-color: rgb(255, 160, 176);
}
#total_calo{
    background-color: rgb(204, 119, 133);
}
form{
    background-color: rgb(236, 188, 196);
    border-style: solid;
    border-color: rgb(0, 0, 0);
    padding-left: 12px;
    padding-right: 12px;
    width: 35%;
}
h5{
    font-size: 20px;
    text-align: center;
}
#Nombre{
    width: 83%;
}
#Apellido{
    width: 82%;
}
#email{
    width: 67%;
}
#direccion{
    width: 69%;
}
.Suscripción{
    background-color: rgb(117, 84, 89);
    color: white;
    cursor:pointer;
}
#agradecimiento{
    text-align: center;
    font-size: 15px;
}
footer{
    background-color: rgb(117, 84, 89);
    color: white;
    border: none;
    text-align: center;
    padding: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.enlace{
    color: white;
}
